@keyframes fadeInToTop {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInToLeft {
  from {
    transform: translateX(20px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes grow {
  from {
    flex-grow: 0;
  }

  to {
    flex-grow: 1;
  }
}
